:root {
    color-scheme: light dark;
}

body {
    padding:10px;
    margin:10px;
    font-family:system-ui;
}
ol {
    padding-left:30px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
