:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    margin: 20px;
    min-width: 300px;
    overflow-wrap: break-word;
    text-align:center
}

a {
    background: #0080ff;
    border-radius: 32px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 12px 24px;
    text-decoration: none;
}
