:root {
    color-scheme: light dark;
}

body {
    padding:10px;
    margin:10px;
    min-width:300px;
    font-family:system-ui;
}
ol {
    padding-left:30px;
}
a {
    display:block;
    width:100%;
    text-align:center;
}
